{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- 구글 adsense 인증 -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4770653297362163" crossorigin="anonymous"></script>

<!-- 카카오 테스트 -->
<ins class="kakao_ad_area" style="display:none;"
data-ad-unit = "DAN-w3JkH2uBMSbHoxCK"
data-ad-width = "728"
data-ad-height = "90"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

<ins class="kakao_ad_area" style="display:none;"
data-ad-unit = "DAN-TrLvFC9gZFetQNHQ"
data-ad-width = "300"
data-ad-height = "250"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>