@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap');

:root {
    --accent-color1:  #f0f4f5;

    --font-size: 2rem;
    --subject-font-size: 3rem;
    --bar-elements-font-size: 2.4rem;
}

* {
    /* background-color: var(--background-color);
    font-size: var(--font-size);*/
    color: #f0f4f5; 
    text-decoration: none;
    margin: 0;
}

body {
    background-image: url('img/background_img/background3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #151f21;
}

a:visited {text-decoration: none;}

/* Header */
header {
    text-align: center;
    padding-top: 5rem;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 7rem;
}

#title .main_wallpaper-text-2 {
    font-size: 5rem;
}

.main_wallpaper-upside_bar {
    margin:3rem 0 15rem 0;
    /* border-bottom: 0.4rem solid rgba(41, 0, 1, 0.5); */
}
.upside_bar-element {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2.4rem;
    color: #f0f4f5;
    padding: 0 0.6rem 0 0.6rem;
}


/* Contents */
#contents {
    margin-left: 2rem;
    margin-right: 2rem;
}

.subject {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2.4rem;
    text-align: center;
}

.detail {
    text-align: center;
    line-height: 1.4rem;
}

/* 아니면 그냥 요렇게 한번에 정하기 */
/* .category {
    height: 15rem;
} */

/* 자연스럽게 하고싶으면 요렇게 일일히! */
#aboutme {
    height: 15rem;
}
#career {
    height: 15rem;
}
#activity {
    height: 15rem;
}
#projects {
    height: 15rem;
}
#snscontact {
    height: 15rem;
}

.sns {
    padding: 1rem 0 1rem 0;
}
.sns_link {
    padding: 0 0.2rem 0 0.2rem;
}

.daeunworld {
    text-align: center;
    padding: 0 1rem 0 1rem;
    background-color: gray;
    border-radius: 10px;
}

footer {
    margin: 0 2rem 3rem 2rem;
    text-align: center;
}