@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

:root {
    --text-color: #f0f4f5;
    --accent-color1:  #f0f4f5;
    --highlight-color: gray;
    --background-color: #151f21;

    --font-size: 2rem;
    --subject-font-size: 3rem;
    --bar-elements-font-size: 2.4rem;
    --main_wallpaper-text1-font-size: 7rem;
    --main_wallpaper-text2-font-size: 4rem;
}

* {
    background-color: var(--background-color);
    font-size: var(--font-size);
    color: var(--text-color);
    text-decoration: none;
    margin: 0;
}

a:visited {text-decoration: none;}

#main_wallpaper {
    width: 100%;
    vertical-align: middle;
}

/* Header */
#title .main_wallpaper-text-1 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 7rem;
    left: 50%;
    transform: translate( -50%, -50% );
    font-family: 'Grenze Gotisch', cursive;
    font-size: var(--main_wallpaper-text1-font-size);
    background: unset;
    background-color: unset;
    padding-top: 4rem;
}
#title .main_wallpaper-text-2 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 17rem;
    left: 50%;
    transform: translate( -50%, -50% );
    font-family: 'Hanalei Fill', cursive;
    font-size: var(--main_wallpaper-text2-font-size);
    background: unset;
    background-color: unset;
}
.main_wallpaper-upside_bar {
    text-align: center;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border-bottom: 0.4rem solid rgba(41, 0, 1, 0.5);
    border-top: 0.4rem solid rgba(41, 0, 1, 0.5);
    position: absolute;
    width: 97%;
    top: 26rem;
    left: 50%;
    transform: translate( -50%, -50% );
    background: unset;
}
.upside_bar-element {
    font-family: 'Grenze Gotisch', cursive;
    font-size: var(--bar-elements-font-size);
    color: var(--accent-color1);
    background: unset;
    padding: 0 0.6rem 0 0.6rem;
    display: inline-block;
}


/* Contents */
#contents {
    margin-left: 2rem;
    margin-right: 2rem;
}

.subject {
    font-family: 'Grenze Gotisch', cursive;
    font-size: var(--subject-font-size);
    padding-top: 1rem;
    text-align: center;
}

.detail {
    text-align: center;
    line-height: 1.4rem;
}

#aboutme {
    height: 15rem;
}
#career {
    height: 15rem;
}
#activity {
    height: 15rem;
}
#projects {
    height: 15rem;
}
#snscontact {
    height: 15rem;
}
#gotodaeunworld {
    height: 13rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

.sns {
    padding: 1rem 0 1rem 0;
}

.sns_link {
    padding: 0 0.2rem 0 0.2rem;
}

#gotodaeunworld p { 
    font-family: 'Grenze Gotisch', cursive;
    text-align: center;
}
#gotodaeunworld a{
    padding: 0 20px 0 20px;
    font-size: 4rem;
    background-color: var(--highlight-color);
    border-radius: 10px;
}

footer {
    margin: 0 2rem 3rem 2rem;
    text-align: center;
}

/* mobile L */
@media screen and (min-width: 0px) and (max-width:500px) {
    :root {
        --font-size: 1rem;
        --subject-font-size: 2.5rem;
        --bar-elements-font-size: 1.5rem;
        --main_wallpaper-text1-font-size: 4rem;
        --main_wallpaper-text2-font-size: 2.5rem;
    }

    #title .main_wallpaper-text-1 {
        top: 6rem;
        padding-top: 2rem;
    }
    #title .main_wallpaper-text-2 {
        top: 175px;
    }
    .main_wallpaper-upside_bar {
        top: 18rem;
    }
    #aboutme {
        margin-top: 200px;
    }
    #gotodaeunworld a{
        font-size: 2.5rem;
    }
}

/* tablet */
@media screen and (min-width: 500px) and (max-width:900px) {
    :root {
        --font-size: 1.1rem;
        --subject-font-size: 2rem;
        --bar-elements-font-size: 1.8rem;
        --main_wallpaper-text1-font-size: 4rem;
        --main_wallpaper-text2-font-size: 2.5rem;
    }

    .main_wallpaper-upside_bar {
        top: 500px;
    }

    #aboutme {
        margin-top: 230px;
    }
}

/* laptop */
@media screen and (min-width: 900px) and (max-width:1200px) {
    :root {
        --font-size: 1.1rem;
        --subject-font-size: 3rem;
        --bar-elements-font-size: 2.1rem;
        --main_wallpaper-text1-font-size: 7rem;
        --main_wallpaper-text2-font-size: 4rem;
    }

    .detail {
        text-align: center;
        line-height: 1.7rem;
    }
    #aboutme {
        margin-top: 50px;
    }
}

/* Laptop L */
@media screen and (min-width: 1200px) and (max-width:2500px) {
    :root {
        --font-size: 1.1rem;
        --subject-font-size: 3rem;
        --bar-elements-font-size: 2.1rem;
        --main_wallpaper-text1-font-size: 7rem;
        --main_wallpaper-text2-font-size: 4rem;
    }
    .detail {
        text-align: center;
        line-height: 1.8rem;
    }
    #aboutme {
        margin-top: 50px;
    }
}

@media screen and (min-width: 2500px) and (max-width:10000000px) {
    :root {
        --font-size: 1.5rem;
        --subject-font-size: 5rem;
        --bar-elements-font-size: 3rem;
        --main_wallpaper-text1-font-size: 13rem;
        --main_wallpaper-text2-font-size: 5rem;
    }
    .detail {
        text-align: center;
        line-height: 2rem;
    }
    #title .main_wallpaper-text-1 {
        top: 350px;
        padding-top: 2rem;
    }
    #title .main_wallpaper-text-2 {
        top: 550px;
    }
    .main_wallpaper-upside_bar {
        top: 1000px;
    }
    #aboutme {
        height: 25rem;
        margin-top: 80px;
    }
    #career {
        height: 25rem;
    }
    #activity {
        height: 25rem;
    }
    #projects {
        height: 25rem;
    }
    #snscontact {
        height: 25rem;
    }
    #gotodaeunworld {
        height: 13rem;
        margin: 5rem 0 3rem 0;
    }
    #gotodaeunworld a{
        font-size: 5.6rem;
    }
}