<!--수정 예정-->
<img src="https://cdn.jsdelivr.net/gh/splanky0314/CDN/DEFAULT/SmileCactus.jpg" width="200rem" style="text-align: center;">
<p style="font-size: 1.5rem; margin-bottom: 0.5rem;"><b>Daeun Kim</b></p>
<p style="margin: 0.2rem;">splanky0314@gmail.com</p>
<p style="margin: 0.2rem 0 0.5rem 0;"><a href="https://splanky0314.github.io/info/info.html" target="_blank">자기소개 사이트 이동</a></p>

{%- include functions.html func='log' level='debug' msg='Get categories value' -%}

{%- include functions.html func='get_categories' -%}
{% assign categories = return %}

{% assign keys = categories %}
{% assign field = 'categories' %}
{% assign url = '/categories.html' | relative_url %}
{% include sidebar/common-list.html %}
